.box{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.myPic{
    width: 30%;
    height: 100%;
    margin: 2vw;
}

.intro{
    width: 70%;
    height: 100%;
    margin: 2vw;
}